<h3><u>Corona Details</u></h3>
<table  align="center">
    <tr>
        <th>City</th>
        <th>Place</th>
        <th>Positive Cases</th>
        <th>Cured Patients</th>
        <th>Death Casess</th>
    </tr>
    <tr>
        <td>{{child_arr[0].city}}</td>
        <td>{{child_arr[0].place}}</td>
        <td>{{child_arr[0].positive_cases}}</td>
        <td>{{child_arr[0].cured_patients}}</td>
        <td>{{child_arr[0].death_cases}}</td>
    </tr>
    <tr>
        <td>{{child_arr[1].city}}</td>
        <td>{{child_arr[1].place}}</td>
        <td>{{child_arr[1].positive_cases}}</td>
        <td>{{child_arr[1].cured_patients}}</td>
        <td>{{child_arr[1].death_cases}}</td>
    </tr>
    <tr>
        <td>{{child_arr[2].city}}</td>
        <td>{{child_arr[2].place}}</td>
        <td>{{child_arr[2].positive_cases}}</td>
        <td>{{child_arr[2].cured_patients}}</td>
        <td>{{child_arr[2].death_cases}}</td>
    </tr>
    <tr>
        <td>{{child_arr[3].city}}</td>
        <td>{{child_arr[3].place}}</td>
        <td>{{child_arr[3].positive_cases}}</td>
        <td>{{child_arr[3].cured_patients}}</td>
        <td>{{child_arr[3].death_cases}}</td>
    </tr>
    <tr>
        <td>{{child_arr[4].city}}</td>
        <td>{{child_arr[4].place}}</td>
        <td>{{child_arr[4].positive_cases}}</td>
        <td>{{child_arr[4].cured_patients}}</td>
        <td>{{child_arr[4].death_cases}}</td>
    </tr>
    <tr>
        <td>{{child_arr[5].city}}</td>
        <td>{{child_arr[5].place}}</td>
        <td>{{child_arr[5].positive_cases}}</td>
        <td>{{child_arr[5].cured_patients}}</td>
        <td>{{child_arr[5].death_cases}}</td>
    </tr>
    <tr>
        <td>{{child_arr[6].city}}</td>
        <td>{{child_arr[6].place}}</td>
        <td>{{child_arr[6].positive_cases}}</td>
        <td>{{child_arr[6].cured_patients}}</td>
        <td>{{child_arr[6].death_cases}}</td>
    </tr>
    <tr>
        <td>{{child_arr[7].city}}</td>
        <td>{{child_arr[7].place}}</td>
        <td>{{child_arr[7].positive_cases}}</td>
        <td>{{child_arr[7].cured_patients}}</td>
        <td>{{child_arr[7].death_cases}}</td>
    </tr>
    <tr>
        <td>{{child_arr[8].city}}</td>
        <td>{{child_arr[8].place}}</td>
        <td>{{child_arr[8].positive_cases}}</td>
        <td>{{child_arr[8].cured_patients}}</td>
        <td>{{child_arr[8].death_cases}}</td>
    </tr>
    <tr>
        <td>{{child_arr[9].city}}</td>
        <td>{{child_arr[9].place}}</td>
        <td>{{child_arr[9].positive_cases}}</td>
        <td>{{child_arr[9].cured_patients}}</td>
        <td>{{child_arr[9].death_cases}}</td>
    </tr>
</table>